<h1> So you want to know more about us? </h1>
	<h2> Who wouldn't?? </h2>
	<p>
		<%= link_to "ACTS Service Manager", "http://www.actsofiowa.org" %>
		is a project to help volunteers log projects, inventory, and schedule resources through 
		<%= link_to"ACTS Ministries of Iowa", "http://www.actsofiowa.org" %>.  
		Keep an eye on this website for new developments regarding this tool.
		</P>