<h1> This is your About page.  It sucks, right? </h1>
	<p>
		<%= link_to "One Month Rails", "http://onemonthrails.com" %>
		is a project to teach 
		<%= link_to"Ruby on Rails", "http://rubyonrail.org" %>
		in one month
		</P>