<div class="hero-unit">
	<h1>Welcome to One Month Rails!</h1>
	<p>
		This is your default home page right now.  Pretty crappy huh?
		<%= link_to "One Month Rails", "http://onemonthrails.com" %>
	</p>
	<p>
		<%= link_to "Sign up now!", "#", class: "btn btn-primary btn-large"%>
	</p>
</div>