<% if user_signed_in? %>
    				<h1>Welcome Jackhole! How's it hanging?</h1>
    				<p> Low and to the left!</p>
          <% else %>
            


	<h1>Welcome to One Month Rails!</h1>
	<p>
		This is your default home page right now.  Pretty crappy huh?
		<%= link_to "One Month Rails", "http://onemonthrails.com" %>
	</p>
	<p>
		<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large"%>
	</p>
</div>
<% end %>