<% if user_signed_in? %>
    				<h1>Welcome volunteer!</h1>
    				<p> Thanks for being a blessing to others!</p>
          <% else %>
            

<div class="hero-unit">
	<h2>Welcome to ACTS Service Manager!</h2>
	<p>
		This page is under construction right now, but plan to move quickly on launching this tool.  For more info on our organization go to the
		<%= link_to "ACTS Ministries of Iowa", "http://www.actsofiowa.org" %>
		homepage.
	</p>
	<p>
		<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large"%>
	</p>
</div>
<% end %>